<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!--Configurações Globais-->
    <add key="NomeOT" value="Nome do seu OT"/>
    <add key="OTClient" value="False"/>
    
    <!--Configurações de Identificação-->
    <add key="Nome" value="Nome de ADM"/>
    <add key="Email" value="email@exemplo.com"/>
    
    <!--Configurações de Atualização-->
    <add key="gitRepositorio" value="https://github.com/f1nal1ty/OTFera-Cliente.git"/>
    <add key="urlNoticia" value="http://www.google.com.br"/>
    
    <!--Configurações de Sprites Maiores que 100Mb-->
    <add key="DirSprite" value=""/> <!--Vazio se as sprites ficarem na raiz do cliente.-->
    
    <!--Configurações de Personalização - Imagens-->
    <add key="Background" value="background.jpg"/>
    <add key="BtnFechar" value="close.png"/>
    <add key="BtnMinimizar" value="minimize.png"/>

    <!--Configurações de Personalização - Cores-->
    <add key="EsquemaCor" value="#FF05003C"/>

  </appSettings>
</configuration>